
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.logo {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.logo .logo-section {
  box-sizing: border-box;
  padding: 5rem 12.7rem 10rem 13.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.logo .logo-section .logo-ns7yp {
  margin-bottom: 4.8rem;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .logo-ns7yp .logo-ns7bp {
  margin-right: 40.4366rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.logo .logo-section .logo-ns7yp .logo-ns7bp .group-40070-uZN {
  margin-right: 1.6626rem;
  width: 5.6008rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .logo-ns7yp .logo-ns7bp .hero-travel-Rnc {
  margin-bottom: 0rem;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.255;
  color: #121218;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}

.logo .logo-section .logo-ns7yp .logo-ns7bp .hero-travel-Rnc .hero-travel-Rnc-sub-1 {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ff5400;
  font-family: Mulish, 'Source Sans Pro';
}
.logo .logo-section .logo-ns7yp .navigation {
  margin: 1.3rem 0rem 1.2rem 0rem;
  height: calc(100% - 2.5rem);
  display: flex;
  column-gap: 4.4rem;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .logo-ns7yp .navigation .home-QAg {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.255;
  color: #ff5400;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .logo-ns7yp .navigation .packages-KHe {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.255;
  color: #424247;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .logo-ns7yp .navigation .testimonial-Tek {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.255;
  color: #424247;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .logo-ns7yp .navigation .blog-oic {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.255;
  color: #424247;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .logo-ns7yp .navigation .contact-Mk8 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.255;
  color: #424247;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk {
  margin: 0rem 0.8rem 10rem 0rem;
  box-sizing: border-box;
  padding: 10.6rem 18.5rem;
  width: 117rem;
  height: 50rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../assets/Group\ 13\ \(1\)\ \(1\).png);
  border-radius: 1.6rem;
  background: border-radius: 16px;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
}
.logo .logo-section .group-13-Upk .group-12-9AC .group-3-u9N {
  margin: 0rem 7.65rem 4.8rem 7.65rem;
  width: calc(100% - 15.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .group-3-u9N .explore-your-travel-2jn {
  margin-bottom: 2.3rem;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .group-3-u9N .dolor-sit-amet-consectetur-nullam-suspendisse-vitae-ultricies-dolor-adipiscing-in-et-odio-enim-ac-quis-sapien-urna-eu-phasellus-hDe {
  max-width: 64.7rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .frame-1-w7z {
  box-sizing: border-box;
  padding: 1.6rem;
  width: 100%;
  height: 8.4rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3000000119);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .frame-1-w7z .group-4-f3z {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.5rem 1.6rem;
  width: 17.4rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .frame-1-w7z .group-5-HbA {
  box-sizing: border-box;
  padding: 1.6rem 1.95rem 1.5rem 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .frame-1-w7z .group-5-HbA .when-Dzc {
  margin-right: 7.85rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .frame-1-w7z .group-5-HbA .frame-wfi {
  margin-bottom: 0.1rem;
  width: 1.5rem;
  height: 0.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .frame-1-w7z .group-5-TPA {
  box-sizing: border-box;
  padding: 1.6rem 1.95rem 1.5rem 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .frame-1-w7z .group-5-TPA .select-type-zdz {
  margin-right: 3.95rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .frame-1-w7z .group-5-TPA .frame-KRN {
  margin-bottom: 0.1rem;
  width: 1.5rem;
  height: 0.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .frame-1-w7z .group-8-1Z6 {
  box-sizing: border-box;
  padding: 1.4rem 3.4rem 1.4rem 3.5rem;
  width: 17.4rem;
  height: 100%;
  background-color: #ff5400;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .frame-1-w7z .group-8-1Z6 .group-7-Wkk {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.1rem 0.3rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo .logo-section .group-13-Upk .group-12-9AC .frame-1-w7z .group-8-1Z6 .group-7-Wkk .frame-eMA {
  margin: 0rem 1.1rem 0.1rem 0rem;
  width: 1.8001rem;
  height: 1.8001rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-13-Upk .group-12-9AC .frame-1-w7z .group-8-1Z6 .group-7-Wkk .find-now-aEp {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-g1ak-xmA {
  margin: 0rem 0.8rem 10rem 0rem;
  width: calc(100% - 0.8rem);
  height: 55rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-g1ak-xmA .auto-group-1rbn-gBN {
  margin-right: 7.3rem;
  width: 55.7rem;
  height: 100%;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-g1ak-xmA .auto-group-1rbn-gBN .group-15-PrU {
  margin-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.logo .logo-section .auto-group-g1ak-xmA .auto-group-1rbn-gBN .group-15-PrU .our-popular-tours-vLc {
  margin-bottom: 2.3rem;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.255;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-g1ak-xmA .auto-group-1rbn-gBN .group-15-PrU .dolor-sit-amet-consectetur-diam-volutpat-neque-habitasse-pharetra-odio-sit-massa-sodales-dictumst-nec-nibh-pellentesque-EcC {
  margin-bottom: 2.4rem;
  max-width: 55.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: rgba(19, 19, 24, 0.6999999881);
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .auto-group-g1ak-xmA .auto-group-1rbn-gBN .group-15-PrU .group-14-WZi {
  margin-bottom: 2.4rem;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-g1ak-xmA .auto-group-1rbn-gBN .group-15-PrU .group-14-WZi .tempus-euismod-lacus-mauris-dignissim-quis-in-ultrices-magna-nullam-odio-neque-diam-sociis-erat-at--evp {
  max-width: 52.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: rgba(19, 19, 24, 0.6999999881);
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .auto-group-g1ak-xmA .auto-group-1rbn-gBN .group-15-PrU .group-14-WZi .adipiscing-ornare-pellentesque-mauris-volutpat-tortor-vitae-platea-porta-lacus-lectus-suspendisse-nullam-YWQ {
  max-width: 48.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: rgba(19, 19, 24, 0.6999999881);
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .auto-group-g1ak-xmA .auto-group-1rbn-gBN .group-15-PrU .group-14-WZi .accumsan-eget-et-turpis-praesent-lorem-egestas-enim-elit-bibendum-risus-at-in-DsS {
  max-width: 50.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: rgba(19, 19, 24, 0.6999999881);
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .auto-group-g1ak-xmA .auto-group-1rbn-gBN .group-15-PrU .amet-consectetur-vulputate-commodo-felis-molestie-risus-ornare-nulla-amet-et-libero-commodo-sagittis-dignissim-adipiscing-quis-habitant-adipiscing-risus-natoque-aliquet-id-bibendum-nunc-senectus-semper-tincidunt-FZE {
  max-width: 53rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .auto-group-g1ak-xmA .auto-group-1rbn-gBN .group-8-JXW {
  width: 17.4rem;
  height: 5.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5400;
  border-radius: 0.8rem;
}
.logo .logo-section .auto-group-g1ak-xmA .rectangle-4-BLQ {
  width: 54rem;
  height: 55rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .group-18-Jvp {
  margin: 0rem 28.65rem 4.8rem 27.75rem;
  width: calc(100% - 56.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.logo .logo-section .group-18-Jvp .choose-your-destination-2rp {
  margin: 0rem 0.1rem 2.3rem 0rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.255;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-18-Jvp .dolor-sit-amet-consectetur-diam-volutpat-neque-habitasse-pharetra-odio-sit-massa-sodales-dictumst-nec-nibh-pellentesque-k28 {
  max-width: 61.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: rgba(19, 19, 24, 0.6999999881);
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .auto-group-h6e8-P56 {
  margin: 0rem 0.8rem 2.4rem 0rem;
  width: calc(100% - 0.8rem);
  height: 30rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-h6e8-P56 .auto-group-cvgg-hrU {
  margin-right: 2.4rem;
  width: 57.3rem;
  height: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(19, 19, 24, 0.200000003);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-5-bg-hWc.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-h6e8-P56 .auto-group-bdgg-9iU {
  width: 57.3rem;
  height: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/Rectangle\ 8.png');
  flex-shrink: 0;
}
.logo .logo-section .auto-group-lkmj-EE8 {
  margin: 0rem 0.8rem 2.4rem 0rem;
  height: 28.6rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-lkmj-EE8 .auto-group-wavp-Lnx {
  width: 37.4rem;
  height: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(19, 19, 24, 0.200000003);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-6-bg-Q2p.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-lkmj-EE8 .auto-group-fixl-pCL {
  width: 47.4rem;
  height: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(19, 19, 24, 0.200000003);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-7-bg-BTA.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-lkmj-EE8 .auto-group-gtm2-3at {
  width: 27.4rem;
  height: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(19, 19, 24, 0.200000003);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-9-bg.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-dzex-74x {
  margin: 0rem 0.8rem 10rem 0rem;
  width: calc(100% - 0.8rem);
  height: 30rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-dzex-74x .auto-group-yfm6-pEG {
  margin-right: 2.4rem;
  width: 47.3rem;
  height: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(19, 19, 24, 0.200000003);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-11-bg.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-dzex-74x .auto-group-zq9n-syE {
  width: 67.3rem;
  height: 100%;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(19, 19, 24, 0.200000003);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-10-bg.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .group-18-mHv {
  margin: 0rem 28.65rem 4.8rem 27.75rem;
  width: calc(100% - 56.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.logo .logo-section .group-18-mHv .why-choose-us-TgY {
  margin-bottom: 2.3rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.255;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-18-mHv .dolor-sit-amet-consectetur-diam-volutpat-neque-habitasse-pharetra-odio-sit-massa-sodales-dictumst-nec-nibh-pellentesque-ZzU {
  max-width: 61.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: rgba(19, 19, 24, 0.6999999881);
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .auto-group-tmjl-T4G {
  margin: 0rem 0.8rem 2.4rem 0rem;
  width: calc(100% - 0.8rem);
  height: 28.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-tmjl-T4G .group-23-Zsz {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 3.2rem 5.5rem 3.2rem 3.2rem;
  width: 57.3rem;
  height: 100%;
  border: solid 0.1rem rgba(251, 181, 99, 0.200000003);
  background-color: rgba(251, 181, 99, 0.0500000007);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-tmjl-T4G .group-23-Zsz .group-22-hDW {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logo .logo-section .auto-group-tmjl-T4G .group-23-Zsz .group-22-hDW .hotel-1-r6Q {
  margin-bottom: 3.2rem;
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-tmjl-T4G .group-23-Zsz .group-22-hDW .group-21-aYC {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-tmjl-T4G .group-23-Zsz .group-22-hDW .group-21-aYC .handpicked-hotels-jvt {
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.255;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-tmjl-T4G .group-23-Zsz .group-22-hDW .group-21-aYC .amet-consectetur-vulputate-commodo-felis-molestie-risus-ornare-nulla-amet-et-libero-commodo-sagittis-dignissim-adipiscing-quis-habitant-adipiscing-risus-natoque-aliquet-UNg {
  max-width: 48.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .auto-group-tmjl-T4G .group-24-eRa {
  box-sizing: border-box;
  padding: 3.2rem 5.5rem 3.2rem 3.2rem;
  width: 57.3rem;
  height: 100%;
  border: solid 0.1rem rgba(41, 206, 246, 0.200000003);
  background-color: rgba(41, 206, 246, 0.0500000007);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-tmjl-T4G .group-24-eRa .group-22-aa8 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logo .logo-section .auto-group-tmjl-T4G .group-24-eRa .group-22-aa8 .group-27-jxp {
  margin-bottom: 3.2rem;
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-tmjl-T4G .group-24-eRa .group-22-aa8 .group-21-5mn {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-tmjl-T4G .group-24-eRa .group-22-aa8 .group-21-5mn .world-class-service-FRN {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.255;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-tmjl-T4G .group-24-eRa .group-22-aa8 .group-21-5mn .amet-consectetur-vulputate-commodo-felis-molestie-risus-ornare-nulla-amet-et-libero-commodo-sagittis-dignissim-adipiscing-quis-habitant-adipiscing-risus-natoque-aliquet-aTe {
  max-width: 48.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .group-25-CE8 {
  margin: 0rem 30.7rem 10rem 29.8rem;
  box-sizing: border-box;
  padding: 3.2rem 5.5rem 3.2rem 3.2rem;
  width: calc(100% - 60.5rem);
  height: 28.4rem;
  border: solid 0.1rem rgba(233, 68, 68, 0.200000003);
  background-color: rgba(233, 68, 68, 0.0500000007);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .group-25-CE8 .group-22-3kY {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logo .logo-section .group-25-CE8 .group-22-3kY .group-26-Brk {
  margin-bottom: 3.2rem;
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-25-CE8 .group-22-3kY .group-21-XQp {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.logo .logo-section .group-25-CE8 .group-22-3kY .group-21-XQp .best-price-guarantee-6D2 {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.255;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-25-CE8 .group-22-3kY .group-21-XQp .amet-consectetur-vulputate-commodo-felis-molestie-risus-ornare-nulla-amet-et-libero-commodo-sagittis-dignissim-adipiscing-quis-habitant-adipiscing-risus-natoque-aliquet-pPv {
  max-width: 48.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .group-18-43N {
  margin: 0rem 28.65rem 4.8rem 27.75rem;
  width: calc(100% - 56.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.logo .logo-section .group-18-43N .deals-discounts-yw2 {
  margin-bottom: 2.3rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.255;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-18-43N .dolor-sit-amet-consectetur-diam-volutpat-neque-habitasse-pharetra-odio-sit-massa-sodales-dictumst-nec-nibh-pellentesque-JiQ {
  max-width: 61.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: rgba(19, 19, 24, 0.6999999881);
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse {
  margin: 0rem 0.8rem 2.4rem 0rem;
  box-sizing: border-box;
  padding: 5.6rem 5.6rem 5.5rem 53.5rem;
  width: 117rem;
  height: 50rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-12-bg-3px.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY {
  box-sizing: border-box;
  padding: 5rem 7.7rem 5rem 5rem;
  width: 100%;
  height: 100%;
  border: solid 0.2rem #ffffff;
  backdrop-filter: blur(0.25rem);
  background-color: rgba(255, 255, 255, 0.8000000119);
  border-radius: 1.6rem;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-35-9sS {
  margin-bottom: 2.4rem;
  height: 2.4rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-35-9sS .group-32-gcU {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.1rem 0.225rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-35-9sS .group-32-gcU .frame-R4G {
  margin: 0rem 1.025rem 0.1rem 0rem;
  width: 1.95rem;
  height: 1.95rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-35-9sS .group-32-gcU .day-6-night-woJ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-35-9sS .group-33-fzC {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.1rem 0.15rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-35-9sS .group-33-fzC .frame-DF2 {
  margin: 0rem 0.95rem 0.025rem 0rem;
  width: 2.1rem;
  height: 1.875rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-35-9sS .group-33-fzC .max-10-iSg {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-35-9sS .group-34-3E4 {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.1rem 0.375rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-35-9sS .group-34-3E4 .frame-y7i {
  margin: 0rem 1.175rem 0.025rem 0rem;
  width: 1.65rem;
  height: 2.0248rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-35-9sS .group-34-3E4 .malaysia-J9z {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-36-qQp {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-36-qQp .tour-to-satorini-nax {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.255;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-36-qQp .amet-consectetur-vulputate-commodo-felis-molestie-risus-ornare-nulla-amet-et-libero-commodo-sagittis-dignissim-adipiscing-quis-habitant-adipiscing-hxp {
  margin-bottom: 1.6rem;
  max-width: 45.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-36-qQp .price-1300-1500-nDa {
  margin-bottom: 2.3rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ff5400;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-36-qQp .group-8-v4t {
  width: 15rem;
  height: 5.2rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-36-qQp .group-8-v4t .group-7-TKi {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.logo .logo-section .group-39-Yse .group-38-rNY .group-37-o2t .group-36-qQp .group-8-v4t .group-7-TKi .group-31-zqS {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5400;
  border-radius: 0.8rem;
}
.logo .logo-section .group-40-BQ8 {
  margin: 0rem 0.8rem 2.4rem 0rem;
  box-sizing: border-box;
  padding: 5.6rem 5.6rem 5.5rem 5.6rem;
  width: 117rem;
  height: 50rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-12-bg.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA {
  margin-right: 47.9rem;
  box-sizing: border-box;
  padding: 5rem 7.7rem 5rem 5rem;
  width: 57.9rem;
  height: 100%;
  border: solid 0.2rem #ffffff;
  backdrop-filter: blur(0.25rem);
  background-color: rgba(255, 255, 255, 0.8000000119);
  border-radius: 1.6rem;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-35-Amr {
  margin-bottom: 2.4rem;
  height: 2.4rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-35-Amr .group-32-WKv {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.1rem 0.225rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-35-Amr .group-32-WKv .frame-1Gg {
  margin: 0rem 1.025rem 0.1rem 0rem;
  width: 1.95rem;
  height: 1.95rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-35-Amr .group-32-WKv .day-6-night-Vhe {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-35-Amr .group-33-RbJ {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.1rem 0.15rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-35-Amr .group-33-RbJ .frame-m9N {
  margin: 0rem 0.95rem 0.025rem 0rem;
  width: 2.1rem;
  height: 1.875rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-35-Amr .group-33-RbJ .max-10-tUt {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-35-Amr .group-34-dBa {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.1rem 0.375rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-35-Amr .group-34-dBa .frame-ABW {
  margin: 0rem 1.175rem 0.025rem 0rem;
  width: 1.65rem;
  height: 2.0248rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-35-Amr .group-34-dBa .malaysia-HG8 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-36-d56 {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-36-d56 .tour-to-satorini-NHa {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.255;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-36-d56 .amet-consectetur-vulputate-commodo-felis-molestie-risus-ornare-nulla-amet-et-libero-commodo-sagittis-dignissim-adipiscing-quis-habitant-adipiscing-5St {
  margin-bottom: 1.6rem;
  max-width: 45.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-36-d56 .price-1300-1500-Ks2 {
  margin-bottom: 2.3rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ff5400;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-36-d56 .group-8-4Jp {
  width: 15rem;
  height: 5.2rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-36-d56 .group-8-4Jp .group-7-pHz {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.logo .logo-section .group-40-BQ8 .group-38-HTA .group-37-owJ .group-36-d56 .group-8-4Jp .group-7-pHz .group-31-PM6 {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5400;
  border-radius: 0.8rem;
}
.logo .logo-section .group-41-Z96 {
  margin: 0rem 0.8rem 4.8rem 0rem;
  box-sizing: border-box;
  padding: 5.6rem 5.6rem 5.5rem 53.5rem;
  width: 117rem;
  height: 50rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-12-bg-bmv.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A {
  box-sizing: border-box;
  padding: 5rem 7.7rem 5rem 5rem;
  width: 100%;
  height: 100%;
  border: solid 0.2rem #ffffff;
  backdrop-filter: blur(0.25rem);
  background-color: rgba(255, 255, 255, 0.8000000119);
  border-radius: 1.6rem;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-35-XEL {
  margin-bottom: 2.4rem;
  height: 2.4rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-35-XEL .group-32-Ttg {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.1rem 0.225rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-35-XEL .group-32-Ttg .frame-CrG {
  margin: 0rem 1.025rem 0.1rem 0rem;
  width: 1.95rem;
  height: 1.95rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-35-XEL .group-32-Ttg .day-6-night-jrC {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-35-XEL .group-33-sSc {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.1rem 0.15rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-35-XEL .group-33-sSc .frame-QxL {
  margin: 0rem 0.95rem 0.025rem 0rem;
  width: 2.1rem;
  height: 1.875rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-35-XEL .group-33-sSc .max-10-MMn {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-35-XEL .group-34-6KN {
  box-sizing: border-box;
  padding: 0.2rem 0rem 0.1rem 0.375rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-35-XEL .group-34-6KN .frame-pmA {
  margin: 0rem 1.175rem 0.025rem 0rem;
  width: 1.65rem;
  height: 2.0248rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-35-XEL .group-34-6KN .malaysia-KT2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-36-S1r {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-36-S1r .tour-to-satorini-nbW {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.255;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-36-S1r .amet-consectetur-vulputate-commodo-felis-molestie-risus-ornare-nulla-amet-et-libero-commodo-sagittis-dignissim-adipiscing-quis-habitant-adipiscing-89a {
  margin-bottom: 1.6rem;
  max-width: 45.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-36-S1r .price-1300-1500-1DN {
  margin-bottom: 2.3rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ff5400;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-36-S1r .group-8-8Hz {
  width: 15rem;
  height: 5.2rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-36-S1r .group-8-8Hz .group-7-tHA {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.logo .logo-section .group-41-Z96 .group-38-U1A .group-37-yTi .group-36-S1r .group-8-8Hz .group-7-tHA .group-31-TLG {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5400;
  border-radius: 0.8rem;
}
.logo .logo-section .group-8-DCx {
  margin: 0rem 48.8rem 10rem 48rem;
  width: calc(100% - 96.8rem);
  height: 5.2rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .group-8-DCx .group-7-jBJ {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.logo .logo-section .group-8-DCx .group-7-jBJ .group-42-VwA {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5400;
  border-radius: 0.8rem;
}
.logo .logo-section .auto-group-hxrv-MiU {
  margin: 0rem 0.8rem 10rem 0rem;
  width: calc(100% - 0.8rem);
  height: 42.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-hxrv-MiU .group-43-H6L {
  margin: 0rem 2.8rem 0rem 0rem;
  width: 53.2rem;
  height: calc(100% - 0rem);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-hxrv-MiU .group-43-H6L .a-simple-perfect-place-to-get-lost-CDJ {
  margin-bottom: 2.4rem;
  max-width: 44.1rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.5;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
}
.logo .logo-section .auto-group-hxrv-MiU .group-43-H6L .amet-consectetur-vulputate-commodo-felis-molestie-risus-ornare-nulla-amet-et-libero-commodo-sagittis-dignissim-adipiscing-quis-7LG {
  margin-bottom: 2.4rem;
  max-width: 52.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
}
.logo .logo-section .auto-group-hxrv-MiU .group-43-H6L .adipiscing-ornare-pellentesque-mauris-volutpat-tortor-vitae-platea-porta-lacus-lectus-suspendisse-nullam-aUk {
  margin-bottom: 1.6rem;
  max-width: 50.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.625;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
}
.logo .logo-section .auto-group-hxrv-MiU .group-43-H6L .adipiscing-ornare-pellentesque-mauris-volutpat-tortor-vitae-platea-porta-lacus-lectus-suspendisse-nullam-dxp {
  margin-bottom: 3.2rem;
  max-width: 50.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.625;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
}
.logo .logo-section .auto-group-hxrv-MiU .group-43-H6L .group-42-YK6 {
  width: 17.4rem;
  height: 5.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5400;
  border-radius: 0.8rem;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS {
  margin-right: 0rem;
  width: 61rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .rectangle-10-juN {
  width: 61rem;
  height: 42.4rem;
  position: absolute;
  left: 0;
  top: 0rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .rectangle-11-sVn {
  width: 61rem;
  height: 42.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0) 100%);
  border-radius: 1.6rem;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .group-39464-a9J {
  width: 56.2rem;
  height: 0.4rem;
  position: absolute;
  left: 2.4rem;
  top: 39.5rem;
  border-radius: 0.8rem;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .group-39464-a9J .group-8-hDv {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .group-39464-a9J .group-8-hDv .group-40061-3oa {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3000000119);
  border-radius: 0.8rem;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .group-39464-a9J .group-8-hDv .group-40061-3oa .group-7-yx8 {
  margin-right: 47.5rem;
  width: 8.7rem;
  height: 100%;
  border-radius: 0.8rem;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .group-39464-a9J .group-8-hDv .group-40061-3oa .group-7-yx8 .rectangle-5-jgQ {
  width: 100%;
  height: 0.4rem;
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .group-40062-2vQ {
  width: 6.6rem;
  height: 2.4rem;
  position: absolute;
  left: 2.4rem;
  top: 35.5rem;
  display: flex;
  align-items: center;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .group-40062-2vQ .group-39472-ZvL {
  margin-right: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .group-40062-2vQ .item-000-hWk {
  margin-top: 0.1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #f3f3f3;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .group-40063-Djz {
  box-sizing: border-box;
  padding-right: 1.125rem;
  width: 10.4rem;
  height: 2.4rem;
  position: absolute;
  left: 48.2rem;
  top: 35.5rem;
  display: flex;
  align-items: center;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .group-40063-Djz .group-39481-Y1a {
  margin-right: 2.725rem;
  width: 6.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .group-40063-Djz .frame-5GQ {
  width: 0.15rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-hxrv-MiU .group-40089-CuS .watch-our-mountain-in-bangladesh-oy6 {
  width: 27.5rem;
  height: 7.2rem;
  position: absolute;
  left: 16.75rem;
  top: 17.6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
}
.logo .logo-section .auto-group-u9rc-4PE {
  margin: 0rem 0.752rem 0rem 0rem;
  width: calc(100% - 0.7517rem);
  height: 42.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-u9rc-4PE .group-40093-z1z {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 4rem 4.1rem 4rem 4rem;
  width: 47.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #ff5400;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-u9rc-4PE .group-40093-z1z .group-40066-Uxk {
  margin: 0rem 5.6rem 2.4rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-u9rc-4PE .group-40093-z1z .group-40066-Uxk .newsletter-DvL {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.255;
  color: #131318;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-u9rc-4PE .group-40093-z1z .group-40066-Uxk .get-your-daily-dose-of-travel-news-tips-sign-up-today-ZUQ {
  max-width: 33.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .logo-section .auto-group-u9rc-4PE .group-40093-z1z .line-1-5Sk {
  margin-bottom: 2.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: rgba(19, 19, 24, 0.1000000015);
  flex-shrink: 0;
}
.logo .logo-section .auto-group-u9rc-4PE .group-40093-z1z .group-10-RWc {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 5.2rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-u9rc-4PE .group-40093-z1z .group-10-RWc .group-5-BVn {
  box-sizing: border-box;
  padding: 1.6rem 2rem 1.5rem 2rem;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: rgba(19, 19, 24, 0.3000000119);
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(19, 19, 24, 0.0500000007);
  border-radius: 0.8rem;
}
.logo .logo-section .auto-group-u9rc-4PE .group-40093-z1z .group-40067-zy2 {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 5.2rem;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-u9rc-4PE .group-40093-z1z .group-40067-zy2 .group-5-9qv {
  box-sizing: border-box;
  padding: 1.6rem 2rem 1.5rem 2rem;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.255;
  color: rgba(19, 19, 24, 0.3000000119);
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(19, 19, 24, 0.0500000007);
  border-radius: 0.8rem;
}
.logo .logo-section .auto-group-u9rc-4PE .group-40093-z1z .group-42-dWC {
  width: 100%;
  height: 5.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5400;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-u9rc-4PE .auto-group-qet4-th2 {
  width: 67.2483rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.logo .logo-section .auto-group-u9rc-4PE .auto-group-qet4-th2 .rectangle-8-eRJ {
  width: 67.2rem;
  height: 42.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
}
.logo .logo-section .auto-group-u9rc-4PE .auto-group-qet4-th2 .group-40069-Bg8 {
  box-sizing: border-box;
  padding: 5.626rem 4.466rem 5.626rem 5.682rem;
  width: 34.5483rem;
  height: 22.1864rem;
  position: absolute;
  left: 32.7rem;
  top: 20rem;
  background-color: #ff5400;
  border-radius: 1.6rem;
}
.logo .logo-section .auto-group-u9rc-4PE .auto-group-qet4-th2 .group-40069-Bg8 .group-40068-Vgp {
  width: 100%;
  height: 5.1862rem;
  position: relative;
}
.logo .logo-section .auto-group-u9rc-4PE .auto-group-qet4-th2 .group-40069-Bg8 .group-40068-Vgp .travelcom-2we {
  width: 11.9rem;
  height: 3.1rem;
  position: absolute;
  left: 4.8557rem;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.logo .logo-section .auto-group-u9rc-4PE .auto-group-qet4-th2 .group-40069-Bg8 .group-40068-Vgp .save-up-to-70-JuA {
  width: 24.4rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 1.0862rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.logo .auto-group-ukzp-mnk {
  box-sizing: border-box;
  padding: 11rem 6rem 10.9rem 6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(19, 19, 24, 0.0500000007);
  flex-shrink: 0;
}
.logo .auto-group-ukzp-mnk .group-40072-UhA {
  margin: 0rem 54.733rem 1.4rem 54rem;
  width: calc(100% - 108.7327rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.logo .auto-group-ukzp-mnk .group-40072-UhA .group-40070-1h6 {
  margin-right: 1.6rem;
  width: 4.6673rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .auto-group-ukzp-mnk .group-40072-UhA .hero-travel-A4C {
  margin-top: 0rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2549999952;
  color: #121218;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.logo .auto-group-ukzp-mnk .group-40072-UhA .hero-travel-A4C .hero-travel-A4C-sub-0 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #121218;
  font-family: Mulish, 'Source Sans Pro';
}
.logo .auto-group-ukzp-mnk .group-40072-UhA .hero-travel-A4C .hero-travel-A4C-sub-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #ff5400;
  font-family: Mulish, 'Source Sans Pro';
}
.logo .auto-group-ukzp-mnk .lorem-ipsum-dolor-sit-amet-consectetur-nulla-sit-viverra-morbi-vitae-blandit-orci-potenti-vulputate-leo-erat-maecenas-vitae-elementum-ultricies-nullam-gqA {
  margin: 0rem 0.1rem 3.2rem 0rem;
  max-width: 75rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  color: #5a5a5d;
  font-family: Mulish, 'Source Sans Pro';
  flex-shrink: 0;
}
.logo .auto-group-ukzp-mnk .auto-group-q2sy-imr {
  margin-bottom: 5rem;
  width: 132rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.logo .auto-group-ukzp-mnk .line-2-FWt {
  margin: 0rem 22.4rem 4.9rem 22.4rem;
  width: calc(100% - 44.8rem);
  height: 0.1rem;
  background-color: rgba(19, 19, 24, 0.1000000015);
  flex-shrink: 0;
}
.logo .auto-group-ukzp-mnk .all-rights-reserved-9sA {
  margin-right: 0.1rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #131318;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
